<div style="display: flex;flex-direction: column;flex: 1;" class="slim-scroller">
	<div class="menu">
		<div class="active menu-item">
			<span ng-if="self.currentSelectedMlProject" ng-click="self.openDialogOpenMlProject();" class="ml-project-name">{{self.currentSelectedMlProject ? self.currentSelectedMlProject: ''}}</span>
			<span  class="menu-item active ti ti-new-window"  ng-click="self.openDialogOpenMlProject();"></span>
			<span  class="menu-item active ti ti-save " ng-click="self.openDialogSaveMlProject()"></span>
			<span  class="menu-item active ti ti-plus " ng-click="self.onClickButtonNew()"></span>
		</div>
		<div style="display: flex;">
			
			<span ng-repeat="name in self.titleTabs track by $index" class="menu-item"
				ng-class="{active: self.current_tab === $index}" ng-click="changeTab($index);">{{name}}</span>
				<span style="font-size: 15px;" class="menu-item active ti ti-settings" ng-click="self.userSetting=!self.userSetting"></span>
		</div>
	</div>

	<div class="main">
		<div class="back">
			<span class="ti ti-arrow-left" ng-click="changeTab('back');"></span>
		</div>
		<div class="next">
			<span class="ti ti-arrow-right" ng-click="changeTab('next');"></span>
		</div>
		<div class="user-setting" ng-class="{'show-user-setting':self.userSetting}">
			<div style="position: absolute; right: 13px; top: -20px; z-index: 8; border: 10px solid transparent; border-bottom-color: #fff;">
			</div>
			<div class="login">
			</div>
			<div class="header" style="display: none;">
				<span class="title">
					<span class="ti ti-palette" style="margin-right: 15px;"></span>
					Color theme
				</span>
				<span class="sub">Lorem Ipsum is simply dummy text of the printing</span>
			</div>
			<div class="setting" style="display: none;">
				<div ng-click="self.changeTheme('rgb(6, 116, 218)')">
					<svg class="color" width="30" height="30">
						<rect width="30" height="30" style="fill:rgb(6, 116, 218)" />
					</svg>
				</div>
				<div ng-click="self.changeTheme('rgb(65, 173, 245)')">
					<svg class="color" width="30" height="30">
						<rect width="30" height="30" style="fill:rgb(65, 173, 245)" />
					</svg>
				</div><div ng-click="self.changeTheme('rgb(78, 78, 78)')">
					<svg class="color" width="30" height="30">
						<rect width="30" height="30" style="fill:rgb(78, 78, 78)" />
					</svg>
				</div><div ng-click="self.changeTheme('rgb(82, 95, 222)')">
					<svg class="color" width="30" height="30">
						<rect width="30" height="30" style="fill:rgb(82, 95, 222)" />
					</svg>
				</div>
			</div>
			<div class="header">
				<span class="title">
					<span class="ti ti-shortcode" style="margin-right: 15px;"></span>
					Font size
				</span>
				<span class="sub">Lorem Ipsum is simply dummy text of the printing</span>
			</div>
			<div class="font-size">
				<div ng-click="self.selectedFontSize = 10; self.changeFontSize('10px')" ng-class="{'choose-font-size':self.selectedFontSize === 10}"></div>
				<div ng-click="self.selectedFontSize = 12; self.changeFontSize('12px')" ng-class="{'choose-font-size':self.selectedFontSize === 12}"></div>
				<div ng-click="self.selectedFontSize = 14; self.changeFontSize('14px')" ng-class="{'choose-font-size':self.selectedFontSize === 14}"></div>
				<div ng-click="self.selectedFontSize = 16; self.changeFontSize('16px')" ng-class="{'choose-font-size':self.selectedFontSize === 16}"></div>
			</div>
			<div class="font-size" style="background: none;">
				<span>10</span>
				<span>12</span>
				<span>14</span>
				<span>16</span>
			</div>
			<div class="about">

			</div>
		</div>
		<model-selection id="model-selection" ng-show="self.titleTabs[self.current_tab] === 'Model Selection'"
			set-props-model="self.setPropsModel" set-model-selected="self.setModelSelected" nn-config="self.nnConfig"set-layers="self.setLayers" nn-config-n-layer-changed="self.nnConfigNLayerChanged" nn-config="self.nnConfig" layer-change="self.layerChange" update-layer="self.updateLayer" current-selected-model="self.currentSelectedModel" type-model-selected="self.typeModelSelected" set-type-model-selected="self.setTypeModelSelected" on-model-changed="self.onModelChanged" model-selected-props="self.selectedModelProps" get-fn-set-value-el-model="self.getFnSetValueElModel" tab="self.tab" set-tab="self.setTab"
			></model-selection>

		<dataset-selection ng-show="self.titleTabs[self.current_tab] === 'Dataset Selection'"
			id-project="self.idProject" input-curve-specs="self.inputCurveSpecs"
			target-curve-spec="self.targetCurveSpec" machine-learn-steps="self.machineLearnSteps" type-selected="self.typeSelected" on-add-input-item="self.onAddInputItem" get-fn-on-input-changed="self.getFnOnInputChanged"
			on-target-item-changed="self.onTargetItemChanged" on-remove-input-item="self.onRemoveInputItem"
			on-change-type="self.onChangeType" drop="self.getFnDrop" selection-list="self.selectionList" 
			merge-curves="self.mergeCurves" make-selection-list="self.makeSelectionList" 
			on-remove-dataset="self.onRemoveDataset"></dataset-selection>

		<training-prediction step-datas="self.dataStepsForTrainPredict" input-curve-specs="self.inputCurveSpecs"
			target-curve-spec="self.targetCurveSpec" model="self.selectedModelProps" state-workflow="self.stateWorkflow" set-model-id="self.setModelId" set-bucket-id="self.setBucketId"
			ng-show="self.titleTabs[self.current_tab] === 'Training and Prediction'" som-visualize="self.dataSomVisualize" show-som-visualize="self.showSomVisualize"></training-prediction>
		<wi-neural-network container="self.nnConfig.container" input-curves="self.nnConfig.inputs"
						    output-curves="self.nnConfig.outputs" 
						    hidden-layer="self.nnConfig.layers"></wi-neural-network>
	</div>
</div>
<div ng-show="self.showDialogOpenMlProject" style="z-index: 10; background: #00000052; position: absolute; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;"> 
	<div  class="body-dialog-ml slim-scroller">
		<div class="header-dl-ml">
			<div class="confirm" ng-if="self.delProject">
				<div>
					Delete project?
				</div>
				<div style="display: flex">
					<div ng-click="self.delProject=false;self.indexItemDelete=-1"
						style="margin-left: 12px; cursor: pointer; padding: 12px; font-weight: bold; color: #ffffff; letter-spacing: 1px; border-radius: 2px;">
						CANCEL
					</div>
					<div ng-click="self.confirmDeleteItemMlProject()"
						style="background: #ff988b; cursor: pointer; padding: 12px; font-weight: bold; color: #ffffff; letter-spacing: 1px; border-radius: 2px;">
						DELETE
					</div>
				</div>
			</div>
			<div class="header-dl-ml-title">Open projects</div>
			<div style="display: flex; align-items: center;">
				<div class="search-project">
					<input placeholder="Search" ng-model="searchProject">
				</div>
				<div class="new-project ti ti-plus"></div>
			</div>
		</div>
		<div class="main-dl-ml">
			<!-- <wi-dropdown-list place-holder="Machine learning project" items="self.listMlProject" hide-delete-button='false'
			current-select='self.currentSelectedMlProject' on-item-changed="self.onItemMlProjectChange"></wi-dropdown-list> -->
			<div ng-repeat="project in self.listMlProject | filter:searchProject track by $index" 
			ng-class="{selectedProject: self.mlNameProject === project.name}" 
			ng-click="self.mlProjectCache=project;self.mlNameProject=project.name;"
			class="item-list-of-dl">
				{{project.name}}
				<div style="color: #9e9e9e;" class="ti ti-close" ng-click="self.selectItemDelete($index)"></div>
			</div>
		</div>
		<div class="footer-dl-ml">
			<div class="footer-dl-ml-btn" ng-click="self.showDialogOpenMlProject=false;self.mlNameProject=self.mlProjectSelected.name;self.delProject=false;self.indexItemDelete=-1">CANCEL</div>
			<div class="footer-dl-ml-btn active" ng-click="self.onClickButtonOpen(self.mlProjectCache)">OPEN</div>
		</div>
	</div>
</div>
<div ng-show="self.sprinnerMl || self.showNotiSave" style="z-index: 10; background: #ffffffc9; height: 100vh; width: 100vw; z-index: 5; position: absolute; display: flex; align-items: center; justify-content: center;">
    <div >
        <div class="loader08"></div>
    </div>
</div>
<div ng-show="self.showDialogSaveMlProject" style="z-index: 10; background: #00000052; position: absolute; width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;"> 
	<div  class="body-dialog-ml slim-scroller">
		<div class="header-dl-ml" style="justify-content: flex-start;">
			<div class="header-dl-ml-title">Save projects</div>
		</div> 
		<input ng-init="nameMlProject = 'new project'" 
		autofocus
		ng-model="nameMlProject" 
		style="margin: 20px 0; background: #efefef; line-height: 1; font-size: 12px; padding: 15px 20px; border-radius: 2px;">
		<div class="footer-dl-ml">
			<div class="footer-dl-ml-btn" ng-click="self.showDialogSaveMlProject=false;">CANCEL</div>
			<div class="footer-dl-ml-btn active" ng-click="self.onClickButtonSave(nameMlProject)">SAVE</div>
		</div>
	</div>
</div>