.head {
	display: inline-flex;
}

a.in-head {
	margin-right: 30px;
	color: red;
}

.body {
	margin-top: 10px;
}
a.active.in-head{
	color: blue;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}

.toolbar {
    height: 44px;
    background: #0074c5;
    display: flex;
    z-index: 3;
    border-bottom: 1px solid #0061a5;
}

.label-list-view {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-weight: bold;
    background: #f4f4f4;
    color: #2d2d2d;
    border-bottom: 1px solid #efefef;
}

.search-list-view {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: #fff;
    color: #2d2d2d;
}

.input-search-list-view {
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff4a;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 20px 10px 15px;
    color: #000;
    font-weight: bold;
    font-size: 12px;
}

.input-search-list-view:focus {
    outline: none;
}

.menu-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    padding: 0 25px;
    max-width: 200px;
}
.menu-item:hover{
    background: #1c8bda;
}
.menu-item.active{
    background: #1c8bda;
}
.menu-item>span {
    padding-left: 9px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.select-proj4{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none;
    border: none;
    border-radius: 0; 
    -webkit-appearance: none;
    padding: 2px 12px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    box-sizing: unset;
    background: none;
    line-height: 1;
    height: 27px;
}
.select-proj4:focus{
        border-color: none;
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    
}
.container {
    margin: 0;
    width: 100%;
    display: contents;
    padding: 0;
}

div.holder {
    height: 100vh;
    width: 1px;
    margin: 0;
    z-index: 2;
    display: flex;
}

.ui-resizable-e {
    cursor: ew-resize;
    width: 19px;
    right: -9px;
    top: 0;
    height: 100%;

}

/* .ui-resizable-e:hover {
    background: #0073c585;
    transition: 1s;
} */

.mapView {
    width: 100%;
    z-index: 1;
}

.leaflet-control-container {
    display: none;
}

.menu-left-top {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-bottom: 1px solid #efefef;
    /* border-bottom: 1px solid #0074c5; */
}

.menu-left-bottom {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* border-bottom: 1px solid #0074c5; */
}

.project {
    margin: 0;
    padding: 0;
}

.project>li {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #8787872b;
    margin: 10px;
    cursor: pointer;
    background: #fff;
    list-style-type: none;
}

.project>li>div>p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
    /* background: #f4f4f4; */
}

