<div class="main-content slim-scroller" style="width: 315px;">
    <div class="input-selection">
        <div class="tab">
            <div class="tab-button" ng-class="{'active' : self.tab===1}" ng-click="self.setTab(1)">Model Selection</div>
            <div id="tab-layer" class="tab-button" ng-class="{'active' : self.tab===2}" ng-click="self.setTab(2)">Neural Network</div>
        </div>
        <div ng-show="isSet(1)" style="padding: 20px; overflow: hidden; height: 100%;">
            <div class="header">
                <span class="title">Type Selection</span>
                <wi-dropdown-list place-holder="Type" items="self.listType" hide-delete-button='self.hideDeleteButton'
                    current-select='self.typeModelSelected' on-item-changed="self.setTypeModelSelected">
                </wi-dropdown-list>
            </div>
            <div class="header">
                <span class="title">Model Selection</span>
                <wi-dropdown-list ng-if="self.typeModelSelected==='classification'" place-holder="Model" items="self.listModel.classification" hide-delete-button='self.hideDeleteButton'
                    current-select='self.currentSelectedModel' on-item-changed="self.onModelChanged">
                </wi-dropdown-list>
                <wi-dropdown-list ng-if="self.typeModelSelected!=='classification'" place-holder="Model" items="self.listModel.regression" hide-delete-button='self.hideDeleteButton'
                    current-select='self.currentSelectedModel' on-item-changed="self.onModelChanged">
                </wi-dropdown-list>
            </div>
            
            <div onmouseover=this.style.overflow='overlay' onmouseout=this.style.overflow='hidden'
                style="height: 100%;">
                <div class="editable-custom" ng-repeat="(key, props) in self.modelSelectedProps.payload.params" ng-init="props.value = props.value || props.example">
                    <editable ng-if="props.type!='List'" item-value="props.value" item-label="props.name"
                        label-style="{'min-width':'130px'}" enabled="true" set-value="self.getFnSetValueElModel('params')"
                        params="props.name" ng-if="props.type != 'array'">
                    </editable>
                    <div class="header" ng-if="props.type=='List'" style="margin: 10px 0; border-bottom: 1px solid #dadada;">
                        <span class="title" style="font-size: 13px;">{{props.name}}</span>
                        <span class="sub" style="margin-bottom: 10px;">{{props.value}}</span>
                    </div>
                </div>
                <div ng-if="self.modelSelectedProps.payload.train" class="header" style="margin-top: 20px;">
                    <span class="title">Advance</span>
                    <span class="sub">Lorem Ipsum is simply dummy text of the printing</span>
                </div>
                <div ng-if="self.modelSelectedProps.payload.train" class="editable-custom" ng-repeat="(key, props) in self.modelSelectedProps.payload.train" ng-init="props.value = props.value || props.example">
                   <editable item-value="props.value" item-label="props.name"
                       label-style="{'min-width':'130px'}" enabled="true" set-value="self.setValue"
                       params="props.name" ng-if="props.type != 'array'">
                   </editable>
               </div>
            </div>
        </div>
        <div ng-show="isSet(2)" style="padding: 20px; overflow: hidden;">
            <div class="hidden-layers">
                <div class="add ti ti-minus" ng-click="self.nnConfig.nLayer = self.nnConfig.nLayer - 1; self.nnConfigNLayerChanged(self.nnConfig.nLayer)"></div>
                <input class="inputs" ng-model='self.nnConfig.nLayer'  class="form-control wi-form-control" ng-change="self.nnConfigNLayerChanged(self.nnConfig.nLayer)" min="1">
                <div class="remove ti ti-plus" ng-click="self.nnConfig.nLayer = self.nnConfig.nLayer + 1; self.nnConfigNLayerChanged(self.nnConfig.nLayer)"></div>
            </div>
            <div style="height: 100%;" onmouseover=this.style.overflow='auto' onmouseout=this.style.overflow='hidden'>
                <div ng-repeat="layer in self.nnConfig.layerConfig track by $index" class="input-number">
                    <div style="display: flex; align-items: center;">
                        <div class="layer-16x16" style="margin-right: 10px; min-width: 16px;"></div>
                        <div class="name">{{layer.label}}</div>
                        <input style="font-weight: bold;" class="form-control wi-form-control" ng-model="layer.value" ng-change="self.layerChange(layer, layer.value)" min="1">
                    </div>
                    <div style="display: flex;">
                        <div class="add ti ti-minus" ng-click="layer.value = layer.value - 1; self.layerChange($index, layer.value)"></div>
                        <div class="remove ti ti-plus" ng-click="layer.value = layer.value + 1; self.layerChange($index, layer.value)"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="header">
                Hidden Layers
                <input ng-model='self.nnConfig.nLayer' type="number" ng-change="self.nnConfigNLayerChanged(self.nnConfig.nLayer)" min="1">
            </div>
            <div class="header">
                <div ng-repeat="layer in self.nnConfig.layerConfig track by $index">
                    <span>{{layer.label}}</span>
                    <input class="form-control wi-form-control" ng-model="layer.value" type="number" ng-change="self.layerChange(layer, layer.value)" min="1">
                </div>
            </div> -->
        </div>
        <!-- <div ng-show="isSet(3)" style="padding: 20px;">
            
        </div> -->
    </div>
    <div id="workspace" class="workspace">
        
    </div>
</div>