<div class="body-ms">
	<wi-dropdown-list place-holder="Model" items="self.datas" hide-delete-button = 'self.hideDeleteButton' current-select = 'self.currentSelect' on-item-changed="self.onItemChanged"></wi-dropdown-list>	
	<editable 	
		ng-repeat="(key, props) in self.selectedItemProps"  
		item-value="self.selectedItemProps[key].value" 
        item-label="key" 
        label-style="{'min-width':'150px'}"
        enabled="true"
        set-value="self.setValue"
		params="self.selectedItemProps[key].default"
        ng-if="value != 'array'">
    </editable>
</div>